.card-series {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc((100% / 5) - 20px);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.series-date {
    margin: 10px 0px;
}