header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(29, 29, 29);
    padding: 20px;
}

.logo {
    color:rgb(202, 41, 41);
}

.search-text {
    margin-right: 20px;
}